[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "RMAT"]
	path = RMAT
	url = https://github.com/ataqi23/rmat
	shallow = true
	registered = true
